<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="conversacion-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, "Email" %>
    <%= hidden_input f, :from_to_id %>
    <%= text_input f, :mask %>
    <%= error_tag f, :from_to_id %>


    <%= hidden_input f, :to_id, value: @to_id %>
  
    <div>
      <%= submit "Agreguar", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
